node_modules/
dist-web/
release/
android/
capacitor.config.json
.generated-android-assets/
/index.html
*.log
.DS_Store
Thumbs.db
signing/
*.jks
*.keystore
*.pfx
*.p12
keystore-base64.txt
*.base64
*.b64
